.exp-section {
    color: white;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    padding-top: 70px;
    transition: background-color 0.3s ease; /* Add a transition for background color change */
}

.exp-section:hover {
    background-color: #282c34; /* Change to your desired hover color */
}

.exp-section .title {
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.exp-section .title:hover {
    border-color: #007bff;
    color: #007bff;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
    margin-bottom: 100px;
}

.education, .experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.edu-card, .exp-card {
    width: 500px;
    max-width: 100%; /* Added to ensure responsiveness */
    background-color: var(--color-card);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for scale and box-shadow on hover */
}

.edu-card:hover, .exp-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-text1 {
    font-weight: 200;
    opacity: 0.8;
    font-size: 14px;
}

.card-text1 .icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.card-text2 {
    color: aquamarine;
    font-weight: 500;
    font-size: 22px;
}

.card-text3 {
    margin-top: 4px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.9;
}

.card-text4 {
    margin-top: 6px;
    font-weight: 300;
    font-size: 16px;
    opacity: 0.7;
}

@media screen and (max-width: 420px) {
    .exp-section .title {
        font-size: 24px;
    }

    .container2 {
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }

    /* card */
    .edu-card, .exp-card {
        width: 350px;
        padding: 20px;
        gap: 4px;
    }

    .card-text1 {
        font-size: 12px;
    }

    .card-text1 .icon {
        width: 12px;
        height: 12px;
    }

    .card-text2 {
        font-size: 20px;
    }

    .card-text3 {
        font-size: 12px;
        line-height: 18px;
    }

    .card-text4 {
        font-size: 14px;
    }
}
